
@media all and (max-width: 1366px) {
  body {
    padding-top: 10%;
  }
}
@media all and (max-width: 1290px) {
  body {
    padding-top: 25%;
  }
}
@media all and (max-width: 840px) {
  body {
    padding-top: 33%;
  }
}
@media all and (max-width: 520px) {
  body {
    padding-top: 50%;
  }
}

/* push body, because of fixed navbar and huge logo*/
body {
  padding: 150px;
}
.starter-template {
  margin: 100px 15px;
  text-align: center;
}

.courseInputContainer {
	width: 25%;
}