@media all and (max-width: 1920px) {
  body {
    padding-top: 10%;
  }
}
@media all and (max-width: 1366px) {
  body {
    padding-top: 20%;
  }
}
@media all and (max-width: 1290px) {
  body {
    padding-top: 25%;
  }
}
@media all and (max-width: 840px) {
  body {
    padding-top: 33%;
  }
}
@media all and (max-width: 520px) {
  body {
    padding-top: 50%;
  }
}
.starter-template {
  margin: 40px 15px;
  /*text-align: center;*/
}
.courseInputContainer {
	width: 25%;
}
