<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FMIFeedback">
    <meta name="author" content="team koala">

    <meta property="og:title" content="Система за обратна връзка на студентите към ФМИ" />
    <meta property="og:image" content="" />

    <link rel="shortcut icon" href="public/images/ico/favicon.png">

    <title>FMIFeedback</title>

    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="custom.css" rel="stylesheet">
    <link href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="img-responsive" 
            src="public/images/cropped-hackfmi.png"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/givefeedback">Give feedback</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/seefeedback">See feedbacks</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col-lg-12"> 
        <h2>Цел</h2>

        <p>Целта е проста - да се чуе мнението на студентите, защото то е важно.
          Целта е да се събира обратна връзка за преподаватели и предмети и редовно да се изпраща email до декана с нея.
          Системата е инициирана по време на hackfmi от <a href="/humans.txt">humans.txt</a></p>
        </div>
      </div>

      <div id="give" class="row">
        <div class="col-lg-12">
            <h2>Дай своят Feedback</h2>
              <form id="feedbackForm">
                <div id="courseInputPlaceholder">
                </div>

                <div id="teacherInputPlaceholder">
                </div>

                <div id="textFeedbackPlaceholder">
                </div>

                <div id="recaptchaInputPlaceholder">
                </div>

                <div id="submitButtonPlaceholder">
                </div>
              </form>
        </div>
      </div>

      <hr />
        <div id="feedbackView" class="row">
        </div>
    </div>

    <!-- BOWER INCLUDES -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/typeahead.js/dist/typeahead.min.js"></script>
    
    <!-- APP CONFIG -SET SOME DEFAULT VARIABLES -->
    <script type="text/javascript" src="js/appconfig.js"></script>

    <!-- DATA - MODELS AND COLLECTIONS -->
    <script type="text/javascript" src="js/data/models/basemodel.js"></script>
    <script type="text/javascript" src="js/data/collections/basecollection.js"></script>
    <script type="text/javascript" src="js/data/models/appdata.js"></script>
    <script type="text/javascript" src="js/data/models/course.js"></script>
    <script type="text/javascript" src="js/data/collections/courses.js"></script>
    <script type="text/javascript" src="js/data/models/teacher.js"></script>
    <script type="text/javascript" src="js/data/collections/teachers.js"></script>
    <script type="text/javascript" src="js/data/models/feedback.js"></script>
    <script type="text/javascript" src="js/data/collections/feedbacks.js"></script>

    <!-- VIEWS -->
    <script type="text/javascript" src="js/views/baseview.js"></script>
    <script type="text/javascript" src="js/views/courseinput.js"></script>
    <script type="text/javascript" src="js/views/teacherinput.js"></script>
    <script type="text/javascript" src="js/views/feedbackinput.js"></script>
    <script type="text/javascript" src="js/views/recaptcha.js"></script>
    <script type="text/javascript" src="js/views/submitformbutton.js"></script>
    <script type="text/javascript" src="js/views/feedbackscroller.js"></script>
    <!-- APP ENTRY POINT -->
    <script type="text/javascript" src="js/main.js"></script>

    <!-- TEMPLATES - TO BE MOVED TO A SEPARATE FILE -->

    <script type="text/template" id="selectTeacherTemplate">
      <select class="input-lg form-control">
        <% if (model.get("uid") === -1) { %>
            <option data-id="-1" value="-1">Първо въведи предмет</option>
        <% } else if (collection.length === 0) {%>
            <option data-id="-1" value="-1">Няма намерени учители :(</option>
        <% } %>
        
        <% _.each(collection, function(item) { %>
            <option value="<%= item.uid %>"><%= item.name %></option>
        <% }); %>
      </select>
    </script>

    <script type="text/template" id="feedbackInputTemplate">
        <div>
          <label class='feedback'>Твоето позитивно мнение:</label>
          <br />
          <textarea id="positiveFeedback" class ="form-control" rows="3" name="positive"></textarea>
        </div>

        <div>
          <label class="feedback">Твоето негативно мнение:</label>
          <br>
          <textarea id="negativeFeedback" class="form-control" rows="3"></textarea>
        </div>
    </script>

    <script type="text/template" id="courseTypeaheadTemplate">
        <p class="course-suggestion-box"><%= name %></p>
    </script>

    <script type="text/template" id="submitButtonTemplate">
      <button id="submitButton" class="btn btn-primary btn-large" type="submit">Засили feedback-a към сървъра!</button> 
    </script>

    <script type="text/template" id="recaptchaContainer">
      <div class="pagination-centered" id="recaptcha">
      </div>
    </script>

    <script type="text/template" id="coursesInputTemplate">
        <input type="text" placeholder="Въведи предмет или изборна на кирилица :)" class="autocomplete" />
        <button class="btn pickAnotherCourse invisible">Избери друг предмет</button>
    </script>

    <script type="text/template" id="feedbackViewTemplate">
      <div class="col-lg-12">
        <h2>
          <a class="button" href="#/seefeedback">
            <span><%= feedbackCount %></span> feedbacks till now
          </a>
          </h2>

        <div id="feedbackInfiniteScroll">
        </div>
        <div id="loadmoreajaxloader" style="display:none;"><center><img src="public/images/ajax-loader.gif" /></center></div>
      </div>
    </script>

    <script id="feedbackInfiniteScrollTemplate" type="text/template">
      <% if (collection.length === 0) { %>
      <h2>Стигна до края ! :)</h2>
      <% } else {%> 
        <% _.each(collection, function(model) { %>
          <div class="feedbackElement well well-large">
            <div class="date label label-default pull-right"><%= model.created %></div> 
            <h2 class="course-name">
              <a><%= model.course_name %></a>
            </h2> 
            <h2 class="teacher-name">
              <a><%= model.teacher_name %></a>
            </h2>
          </div>
        <% }); %>
      <% } %>
    </script>
  </body>
</html>
